<!DOCTYPE html>
<html>
<head>
	<title>about US</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Montserrat|Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<img class="img" src="{{ url_for('static', filename='bg3.jpg')}}"></img>
    <header>
      <a href="#" class="brand">Made With <i class="fa fa-heart"></i> For Desserts</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/recommendor">Dessert Recommendation</a>
          <a href="/baking">Whats Baking?</a>
          <a href="/builder">Recipe Builder</a>
        </div>
      </div>
    </header>
	<div class="container1">
		<div class="about-us">
			<div class="who-we-are">
				<h3>Who we are</h3>
				<span>We are a group of aspiring Data Scientists pursuing post graduate certificate course in Artificial Intelligence and Machine Learning in Lambton College,Toronto<br></span>
			</div>
			
			<div class="cards">
			<div class="card">
					<div class="card-img card-img1"></div>
					<card class="card-body">
						<h3>Suryansh Bali</h3>
						<p>On the move from Software Engineer to Data Science Engineer with a passion for delivering valuable findings through analytical functions and data retrieval methods.</p>
					</card>
				</div>
			
			
			<div class="card">
					<div class="card-img card-img2"></div>
					<card class="card-body">
						<h3>Pooja Patel</h3>
						<p>My interest to solve real life technological problems using data-driven approach dragged me into data science world to showcase my existing application skills using cutting edge technologies</p>
					</card>
				</div>
				
			<div class="card">
					<div class="card-img card-img3"></div>
					<card class="card-body">
						<h3>Neethu Ignacious</h3>
						<p>My passion for data-driven approaches advance each day, and I decided to use my expertise and skills to explore how Data Science technology can contribute realistic solutions to problems.</p>
					</card>
				</div>
			
			<div class="card">
					<div class="card-img card-img4"></div>
					<card class="card-body">
						<h3>Sanjana Bale</h3>
						<p>A desire to extend my knowledge, be highly excited about learning new things, and enthusiastic about solving industry's demanding problems motivated me to develop an interest in Data Science.</p>
					</card>
				</div>
			
			<div class="card">
					<div class="card-img card-img5"></div>
					<card class="card-body">
						<h3>Isha Arora</h3>
						<p>A motivated and team-oriented student starting the journey as a Data Scientist to derive market insights and deliver business decisions using analytical thinking and data solutions.</p>
					</card>
			</div>
			
		</div>
		
	        <div class="media-icons">
              <a href="https://github.com/neethuignacious" class="icon"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/neethuignacious/" class="icon"><i class="fa fa-instagram"></i></a>
              <a href="https://www.instagram.com/neethu_vinesh/" class="icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          
</body>
</html>