<!DOCTYPE html>
<html>
<head>
	<title>about US</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Montserrat|Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<img class="img" src="{{ url_for('static', filename='bg3.jpg')}}"></img>
    <header>
      <a href="#" class="brand">Made With <i class="fa fa-heart"></i> For Desserts</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/recommendor">Dessert Recommendation</a>
          <a href="/baking">Whats Baking?</a>
          <a href="/builder">Recipe Builder</a>
        </div>
      </div>
    </header>
	<div class="container">
		<div class="about-us">
			<div class="who-we-are">
				<h3>Who we are</h3>
				<span>We are a group of five aspiring Data Scientists pursuing post graduate certificate course in Artificial Intelligence and Machine Learning in Lambton College,Toronto</span>
			</div>
			<div class="cards">
			<div class="card">
					<div class="card-img card-img2"></div>
					<card class="card-body">
						<h3>Isha Arora</h3>
						<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					</card>
				</div>
			
			
			<div class="card">
					<div class="card-img card-img2"></div>
					<card class="card-body">
						<h3>Neethu Ignacious</h3>
						<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					</card>
				</div>
				
			<div class="card">
					<div class="card-img card-img2"></div>
					<card class="card-body">
						<h3>Pooja Patel</h3>
						<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					</card>
				</div>
			
			<div class="card">
					<div class="card-img card-img2"></div>
					<card class="card-body">
						<h3>Sanjana Bale</h3>
						<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					</card>
				</div>
			
			<div class="card">
					<div class="card-img card-img2"></div>
					<card class="card-body">
						<h3>Suryansh Bali</h3>
						<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					</card>
			</div>
			
		</div>

	        <div class="media-icons">
              <a href="https://github.com/neethuignacious" class="icon"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/neethuignacious/"" class="icon"><i class="fa fa-instagram"></i></a>
              <a href="https://www.instagram.com/neethu_vinesh/" class="icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
</body>
</html>