<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <header>
      <a href="#" class="brand">Made With <i class="fa fa-heart"></i> For Desserts</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/recommendor">Dessert Recommendation</a>
          <a href="/baking">Whats Baking?</a>
          <a href="/builder">Recipe Builder</a>
        </div>
      </div>
    </header>
    
    <div class="model2",class="form-group">
    <video class="img" src="{{ url_for('static', filename='11.mp4')}}" autoplay muted loop></video>
    <h1 style="align-items: center;font-family:'Rowdies',cursive;">Given a list of ingredients, what different dessert recipes can I can make? 🍰</h1>
    <h2 style="align-items: center;font-family:'Rowdies',cursive;"><br>For example, say I want to use up some food in my apartment, what can I bake? 🏠 </h2>
    <h2 style="align-items: center;font-family:'Rowdies',cursive;">Our ML based model will look through over 2000 recipes to find matches for you 🔍 </h2>
    <h2 style="align-items: center;font-family:'Rowdies',cursive;">Try it out for yourself below! 👇🏽</h2>
    
    
    <h4><br><br>Enter ingredients you would like to bake with (seperate ingredients with a space)</h3>
    <form action="/recipe" method="POST">
    <table1>
    <label><input type="text" name="ingredients" id="ingredients" placeholder="rhubarb orange flour"></label>
    </table1>
<input type="submit" value="Give me Recommendations"><br><br>
</form>
  </div>
  </body>
</html>
