<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <header>
      <a href="#" class="brand">Made With <i class="fa fa-heart"></i> For Desserts</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/recommendor">Dessert Recommendation</a>
          <a href="/baking">Whats Baking?</a>
          <a href="/builder">Recipe Builder</a>
        </div>
      </div>
    </header>

    <section class="home">
      <video class="video-slide active" src="{{ url_for('static', filename='1.mp4')}}" autoplay muted loop></video>
      <video class="video-slide" src="{{ url_for('static', filename='2.mp4')}}" autoplay muted loop></video>
      <video class="video-slide" src="{{ url_for('static', filename='3.mp4')}}" autoplay muted loop></video>
      <video class="video-slide" src="{{ url_for('static', filename='4.mp4')}}" autoplay muted loop></video>
      <video class="video-slide" src="{{ url_for('static', filename='5.mp4')}}" autoplay muted loop></video>
      <video class="video-slide" src="{{ url_for('static', filename='6.mp4')}}" autoplay muted loop></video>
      <video class="video-slide" src="{{ url_for('static', filename='7.mp4')}}" autoplay muted loop></video>
      <div class="content active">
        <h1>Pick your Favorite<br><span>Dessert</span></h1>
        <p>For Dessert lovers, by dessert recommendors. Pick your favorite dessert is a brand new destination for the home bakers, chefs, and everyone in between Grab an apron and let's get baking!</p>
        <a href="/recommendor">Try it</a>
      </div>
      <div class="content">
        <h1>Cake<br></h1>
        <p>Whats not to love in a cake? They are sweet, cute, and make the perfect treat.The cake is a triumph of sugar and flour, towering with buttercream and strawberries to bring it that celebratory colour and freshness.A cake is a cake, beautiful as it is..</p>
      </div>
      <div class="content">
        <h1>Cookie<br></h1>
        <p>Chocolate chip, sugar, peanut butter, and even coated in icing, cookies are arguably the most delicious dessert on the planet. Cookies in the morning, cookies late at night. Cookies all day, here take another bite!</p>
      </div>
      <div class="content">
        <h1>Bread<br></h1>
        <p>Whether it’s a toast with jam or a slice of warm bread with butter, bread is a fundamental part of the human diet. Baking bread is a solitary but satisfying activity.You can make your bread look exactly the way you want it to look, from the kneading and shaping to the baking. It can be a creative outlet for the skilled baker, and it can be as simple as mixing a few ingredients together.</p>
      </div>
      <div class="content">
        <h1>Pie Crisp and Tart<br></h1>
        <p>Apple pie, cherry pie, pumpkin pie—the ingredients make no difference as long as you‘re working plenty of mouthwatering baked treats into your holiday diet. And since there‘s no better time of year to eat pie</p>
      </div>
      <div class="content">
        <h1>Candy<br></h1>
        <p>Do you want to share your love of all things, sugary sweet with your BFFs? From jelly beans to marshmallows and chocolate, everyone has a favorite candy that brings them back to the innocence of their childhood! </p>
      </div>      
      <div class="content">
        <h1>Pudding<br></h1>
        <p>Whether its savory or sweet,soft or hard,a lightly spiced rich pudding is a part of every main meal.</p>
      </div>      

      <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
      </div>
    </section>
    

    <script type="text/javascript">
    //Javacript for responsive navigation menu
    const menuBtn = document.querySelector(".menu-btn");
    const navigation = document.querySelector(".navigation");

    menuBtn.addEventListener("click", () => {
      menuBtn.classList.toggle("active");
      navigation.classList.toggle("active");
    });

    //Javacript for video slider navigation
    const btns = document.querySelectorAll(".nav-btn");
    const slides = document.querySelectorAll(".video-slide");
    const contents = document.querySelectorAll(".content");

    var sliderNav = function(manual){
      btns.forEach((btn) => {
        btn.classList.remove("active");
      });

      slides.forEach((slide) => {
        slide.classList.remove("active");
      });

      contents.forEach((content) => {
        content.classList.remove("active");
      });

      btns[manual].classList.add("active");
      slides[manual].classList.add("active");
      contents[manual].classList.add("active");
    }

    btns.forEach((btn, i) => {
      btn.addEventListener("click", () => {
        sliderNav(i);
      });
    });
    </script>

  </body>
</html>
