<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
<img class="img" src="{{ url_for('static', filename='backimage.jpg')}}"></img> 
    <header>
      <a href="#" class="brand">Made With <i class="fa fa-heart"></i> For Desserts</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/recommendor">Dessert Recommendation</a>
          <a href="/baking">Whats Baking?</a>
          <a href="/builder">Recipe Builder</a>
        </div>
      </div>
    </header>
 
<div class="container"> 

      <div class="dess" style="color: #E8E8E8;">
        <center>
          <h2 style="color:#722F37;font-family: 'Rowdies', cursive;">TOP RECOMMENDED DESSERTS</h2>
          <h5 style="color:#722F37;font-family: 'Rowdies', cursive;">(Click on the dessert to know more)</h5>
        </center>
      </div>

<div class="row">
  {% for i in range(0,5) %}
  <div class="column">
              <div class="castcard card" style="width:14rem; color: #fff;" title='{{data[i]}}'>
              <div class="imghvr">
              <img class="card-img-top cast-img" style="border-radius:30px" id='{{data[i]}}' height="360" width="245"  src='{{images[i]}}'>
              <figcaption class="fig">
              <button class="card-btn btn btn-danger"><a href="/{{data[i]}}">Click me</button></a>
              </figcaption>
              </div>
              </div>
              <div class="card-body" style="font-family: 'Rowdies', cursive;font-size: 18px;">
              <h5 class="card-title" style="width:14rem;color:black;font-family: 'Rowdies', cursive;text-align:center;">{{data[i]}}</h5>
              </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  {% for i in range(6,11) %}
  <div class="column">
              <div class="castcard card" style="width:14rem; color: #fff;" title='{{data[i]}}'>
              <div class="imghvr">
              <img class="card-img-top cast-img" style="border-radius:30px" id='{{data[i]}}' height="360" width="245"  src='{{images[i]}}'>
              <figcaption class="fig">
              <button class="card-btn btn btn-danger"><a href="/{{data[i]}}">Click me</button></a>
              </figcaption>
              </div>
              </div>
              <div class="card-body" style="font-family: 'Rowdies', cursive;font-size: 18px;">
              <h5 class="card-title" style="width:14rem;color:black;font-family: 'Rowdies', cursive;text-align:center;">{{data[i]}}</h5>
              </div>
  </div>
  {% endfor %}
</div>
    <script type="text/javascript">
    //Javacript for responsive navigation menu
    const menuBtn = document.querySelector(".menu-btn");
    const navigation = document.querySelector(".navigation");

    menuBtn.addEventListener("click", () => {
      menuBtn.classList.toggle("active");
      navigation.classList.toggle("active");
    });
    </script>
</body>
</header>