<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
<img class="img" src="{{ url_for('static', filename='backimage.jpg')}}"></img> 
    <header>
      <a href="#" class="brand">Made With <i class="fa fa-heart"></i> For Desserts</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/recommendor">Dessert Recommendation</a>
          <a href="/baking">Whats Baking?</a>
          <a href="/builder">Recipe Builder</a>
        </div>
      </div>
    </header>
   <div class="heading1"><h1>Hey Its a Cookie!</h1></div>
   <div class="result"> 
    <img src="{{ url_for('static', filename='cake.jpg')}}" alt="">
    </div>
   <div class="result1"> 
    <img src="{{ url_for('static', filename='cookieimage.png')}}" alt="">
    </div>
        <div class="heading"><h1>Ingredients</h1></div>   
        {% for d in data %}
        <div class = "printing"<h1><i class="fa fa-heart"></i> {{ d }} </h1></div>	
        {% endfor %}
</header>